body {
	background: url(HiRes-1.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: auto;
	padding-top: 20px;
    padding-left: 20px;
    height: 100%;
}
.main-title {
  margin: auto;
  width: 60%;
  padding: 10px;
	color: #EAB311;
	font-size: 3em;
	text-shadow:
    -1px -1px 0 #146096,
    1px -1px 0 #146096,
    -1px 1px 0 #146096,
    1px 1px 0 #146096; 
}
.search-wrapper {
  margin: auto;
  width: 60%;
  background: rbga(187, 194, 196, 0.5) 
}
