html {
    overflow: hidden;
    height: 100%;
}

body {
	background: url(HellSpectrBG.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: auto;
	padding-top: 20px;
    padding-left: 20px;
    height: 100%;
}

h1 {
  font-family: Georgia, serif;
}

a:link {
  text-decoration: none;
}

.main-title {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  padding: 10px;
	color: #EAB311;
	font-size: 3em;
	text-shadow:
    -1px -1px 0 #146096,
    1px -1px 0 #146096,
    -1px 1px 0 #146096,
    1px 1px 0 #146096; 
}
.search-wrapper {
  width: 50%;
  margin: 0 auto; 
}

#search-form {
  margin: 0 auto;
  text-align: center;
}
input[type=text] {
  width: 40%;
  margin: 0 auto; 
}
.results-wrapper {
  margin: auto;
}

.location-name{
  color: #185888;
  font-family: calibri,helvetica,sans-serif;
  margin: auto;
  text-align: center;
}

.result-card {
  color: #E2F4FC;
  font-family: calibri,helvetica,sans-serif;
  padding: 5px;
  text-align: center;
  width: 30%;
  background-color: rgba(50, 50, 50, 0.75);
  border-radius: 10px;
  font-size: 1em;
  margin: 0 auto 15px auto;
}

.result-name {
  font-size: 1.5em;
}

.result-address {
  font-size: .85em;
}

.location-card {
  color: #E2F4FC;
  font-family: calibri,helvetica,sans-serif;
  padding: 5px 10px 5px 10px;
  text-align: left;
  width: 30%;
  background-color: rgba(50, 50, 50, 0.75);
  border-radius: 10px;
  font-size: 1em;
  margin: 0 auto 15px auto;
  overflow: hidden;
}

.location-score-block {
  color: #185888;
  height: 50px;
  width: 60px;
  background-color: #E2F4FC;
  border-radius: 10px;
  float: right;
  text-align: center;
  font-size: 2.25em;
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
  padding-top: 5px;
  position: relative;
}

.warning-score {
  color: #EAB311;
}

.failing-score {
  color: red;
}



